@import './index.scss';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "TrajanPro-Bold";
  animation: fadein 1.5s;
  margin: 0 40px;
}

.App-logo {
  height: 10vmin;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  padding-top: 32px;
  margin-bottom: 24px;
  user-select: none;

  &__toggle-menu {
    border-left: 1px solid white;
    padding-left: 24px;
    margin-left: 24px;

    &-item {
      font-family: "TrajanPro-Bold";
      font-size: 16px;
      cursor: pointer;
      margin: 8px;
      display: flex;
      align-items: center;

      .label {
        margin-top: 4px;
      }

      &__checkbox {
        height: 24px;
        width: 24px;
        border-radius: 8px;
        margin-right: 8px;
        border: 1px solid white;

        &.is-enabled {
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: fadein 1.5s;

          .enabled {
            border-radius: 4px;
            height: 16px;
            width: 16px;

             background-color: #00e640;
          }
        }
      }
    }
  }
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-family: "TrajanPro-Bold";
  color: #FFFFFF;
  font-size: 18px;
  user-select: none;
  position: relative;
}

.App-link {
  color: #09d3ac;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}